<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Backend Course Labs</title>
  <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
  <%- include("./partials/header") %>

    <main>
      <h2>404: Page could not be found.</h2>
      <a href="/">Home</a>
    </main>
    <%- include("./partials/footer") %>
</body>

</html>