<header>
  <h1>Backend Course Labs</h1>
  <div id="menu">
  <ul>
    <li>Navigation</li>
    <ul>
      <li> <a href="/">Home</a></li>
    </ul>
    </ul>
    <ul>
      <li>Date Page</li>
      <ul>
        <li> <a href="/day">What day is it?</a></li>
      </ul>

    </ul>

    <ul>
      <li>Tasks</li>
      <ul>
        <li><a href="/all">All tasks</a> </li>
        <li><a href="/show">Task by ID</a> </li>
        <li><a href="/new">New task</a></li>
        <li><a href="/update">Update task</a></li>
        <li><a href="/remove">Remove task</a></li>
      </ul>
    </ul>
    </div>
</header>