<header>
  <h1>Backend Course Labs</h1>
  <a href="/">Home</a>
  <span>Date Page: </span>
  <a href="/day">What day is it?</a>
  <span>Tasks: </span>

  <a href="/all">All tasks</a> | <a href="/show">Task by ID</a> |
  <a href="/new">New task</a> | <a href="/update">Update task</a>|
  <a href="/remove">Remove task</a>
  <hr />
</header>
