<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Backend Course Labs</title>
  </head>
  <body>
    <%- include("../partials/header") %>
    <h2>Welcome!</h2>
    <p>
      This is my submission to achieve bonus points for the practical exam. All
      instructions can be read in the Readme from the Github repository link below.
    </p>
    <%- include("../partials/footer") %>
  </body>
</html>
