<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Course Labs</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>

    <%- include("../partials/header") %>
        <main>
            <h2>New task</h2>


            <label for="description">Description:</label>
            <input type="text" id="desc" maxlength="50" required>
            <label for="completed">Completed?</label>
            <select name="completed" required id="completed">
                <option value="1">True</option>
                <option value="0">False</option>
            </select>
            <input type="submit" value="Create task" id="submit">


            <hr>
            <%= message %>
            <div id="result">

            </div>
        </main>

        <%- include("../partials/footer") %>
            <script src="/scripts/new.js"></script>
</body>

</html>