<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Backend Course Labs</title>
      <link rel="stylesheet" href="/assets/styles.css">
  </head>
  <body>
    <%- include("../partials/header") %>

    <main>
    <h2>Show task by ID</h2>
      
      <label for="id">Id:</label>
      <input type="number" name="id" min="1" id="id" value="1" />
      <input type="submit" id="submit" value="Select"/>
<hr>  

      <%= message %>
      <table id="result" hidden>

      </table>
    
 
</main>
   <%- include("../partials/footer") %>

   <script src="/scripts/show.js"></script>
  </body>
</html>
