<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Backend Course Labs</title>
      <link rel="stylesheet" href="/assets/styles.css">
  </head>
  <body>
    <main>
      <h1>Login</h1>
      <h2>doe : doe</h2>
      <p><%= status %></p>
      <form action="/login/submit" method="post">
        <table>
          <tr>
            <td>
              <label for="user">Username: </label>
              <input type="text" name="user" />
            </td>
          </tr>
          <tr>
            <td>
              <label for="password">Password: </label>
              <input type="text" name="password" />
            </td>
          </tr>
        </table>
        <input type="submit" value="Aquire token" />
      </form>
    </main>
  </body>
</html>
